@import "colors";

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: $whiteShadowOne;  
    box-shadow: 0 15px 25px $whiteShadowTwo;
    border-radius: 10px;
}
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}

.login-box > form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
}
  
.login-box > form .user-box span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.login-box > form .user-box input:focus ~ span,
.login-box > form .user-box input:valid ~ span {
    top: -35px;
    left: 0;
    color: $orangeLight;
}
  
button {
    width: 100%;
    height: 38px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background-color: $orange;
    color: #fff;
}
  
button:hover {
    background-color: $orangeDark;
    transition: .3s ease-in-out;
}
  
.loading {
    width: 27px;
    animation: spin 1s infinite linear;
}
